<div class="nav-bar">

    <a mat-button (click)="navigateToMovieView()" style="flex-grow: 0;" class="logo-image">
        <img [src]="imagePath" alt="" class="nav-bar-image">
    </a>

    <a mat-button (click)="navigateToMovieView()" style="flex-grow: 0;" class="logo">
        <p class="text-logo">Ghibli Movie Collection</p>
    </a>

    <div class="nav-buttons-container">

        <select class="movie-dropdown" placeholder="Sort Movies" (change)="onSortChange($event)">
            <option class="option-element" value="" disabled selected hidden>Sort Movies</option>
            <option class="option-element" value="A-Z" class="option-element">A-Z</option>
            <option class="option-element" value="Z-A" class="option-element">Z-A</option>
            <option class="option-element" value="genre" class="option-element">Genre</option>
            <option class="option-element" value="director" class="option-element">Director</option>
            <option class="option-element" value="releaseYearOldToNew" class="option-element">Release Year (Old to New)
            </option>
            <option class="option-element" value="releaseYearNewToOld" class="option-element">Release Year (New to Old)
            </option>
        </select>

        <div class="profile-logout-buttons">

            <a mat-button (click)="navigateToProfileView()"
                class="nav-buttons">{{this.username}}<mat-icon>account_circle</mat-icon></a>
            <a mat-button (click)="logout()" class="nav-buttons logout">Logout<mat-icon>logout</mat-icon></a>

        </div>

    </div>

</div>