<app-navbar></app-navbar>

<div class="profile-view-container">

    <div class="profile-and-update">
        <div class="profile-info flex-item">

            <div class="profile-container">
                <h1>User Profile</h1>
                <div class="user-profile-info">
                    <p>Username: {{user.username}}</p>
                    <p>E-mail: {{user.email}}</p>
                    <p>Birth date: {{user.birthDate.slice(0,10)}}</p>
                </div>
            </div>

            <button type="button" (click)="openUserUpdateDialog()" class="profile-form-button update-button">Update
                User</button>
            <button type="button" (click)="openDeleteUserDialog()" class="profile-form-button delete-button">Delete
                User</button>

        </div>
    </div>

    <div>
        <div class="favorites-movie-container">
            <h1 style="margin-top : 60px">Your Favorite Movies</h1>
            <ul class="favorite-movies-list">
                <li *ngfor="let movieTitle of favoriteMoviesByTitle;" class="favorite-movies-list-element">
                    {{movieTitle}}
                </li>
            </ul>
        </div>
    </div>

</div>