.movie-card-box {
    margin: 20px;
    margin-top: 75px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-auto-rows: auto;
    gap: 10px;
    justify-content: center;
}

.movie-card-card {
    margin: 15px;
    background-color: rgb(236, 233, 224);
    border-radius: 1px;
    border: 4px solid rgb(46, 46, 46);
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.75);
}

.movie-title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: rgba(46, 46, 46, 1);
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.card-header {
    text-align: center;
}

.decor {
    border-bottom: 1px solid rgb(46, 46, 46);
    padding-left: 20px;
    margin: 0;
}

.bottom-decor {
    margin-bottom: 15px;
}

.top-decor {
    margin-top: 15px;
}

.card-container {
    padding: 16px;
}

.director {
    font-size: 12px;
    margin-top: 2px;
}

.button-container {
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.extra-button {
    border: 2px solid rgb(46, 46, 46);
    margin-right: 10px;
    border-radius: 1px;
    background-color: rgb(199, 196, 186);
    color: rgb(46, 46, 46);
}

.extra-button:hover {
    background-color: rgba(107, 104, 92, 0.829)
}

.image-container {
    text-align: center;
    width: 380px;
}

img {
    width: 380px;
}

.genre-name {
    font-size: 8px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .movie-card-box {
        margin: 20px;
        margin-top: 130px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        grid-auto-rows: auto;
        gap: 10px;
        justify-content: center;
    }

    .image-container {
        width: 280px;
    }

    img {
        width: 280px;
    }
}