<mat-card class="genre-dialog">
    <mat-card-header class="genre-dialog-header">
        <mat-card-title>
            <h2 class="genre-dialog-title">{{ data.title }}</h2>
        </mat-card-title>
        <span class="fill-remaining-space"></span>
        <button class="genre-close-button" aria-label="Close the genre details button" mat-dialog-close color="primary">
            &#10008;
        </button>
    </mat-card-header>
    <mat-dialog-content class="genre-dialog-content">
        <p><span class="highlight-text">Genre: </span><span class="normal-text">{{ data.name }}</span></p>
        <p class="normal-text">{{ data.description }}</p>
    </mat-dialog-content>
</mat-card>